/* header */

.header {
  display: inline-flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 1180px;
  box-shadow: -3px 1px 20px 0px rgba(83, 83, 83, 0.507);
}

h1 {
  margin: auto;
  padding: 0;
  color: #bfbfbf;
  font-size: 50px;
}

.logo {
  padding-right: 12.5px;
  padding-top: 12.5px;
  width: 75px;
}

/* main */

body,
[id],
datalist {
  font-family: "Advent Pro", sans-serif;
  font-family: "Gabriela", serif;
  font-size: 25px;
  color: #bfbfbf;
}

body {
  background-color: black;
  height: auto;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

.car-info {
  padding-bottom: 60px;
}

div {
  display: grid;
  grid-auto-flow: column;
}

form {
  padding-top: 150px;
}

p {
  margin-left: 10px;
  margin-top: 20px;
  font-size: larger;
}

legend {
  font-size: larger;
}

[for] {
  position: absolute;
  margin-top: 20px;
}

[id] {
  padding-left: 20px;
  margin-top: 10px;
  margin-left: 220px;
  border: 0;
  border-radius: 20px;
  width: 30%;
  height: 50px;
  color: #000;
}

#male,
#female {
  width: 50px;
}

#adress {
  height: 200px;
}

input[type="checkbox"] {
  width: 50px;
}

.color {
  position: relative;
  margin-left: auto;
}

input[name="color"] {
  margin-left: 10px;
  margin-right: 50px;
  width: 50px;
}

#a-color {
  margin-left: 220px;
  width: 80px;
  padding: 0px;
  border-radius: 0;
}

label[for="range"]{
  margin-top: 20px;
}

#rangeValue {
  position: absolute;
  margin-left: 550px;
  /* margin-top: 50px; */
  padding: 10px;
  width: auto;
  height: auto;
  color: #bfbfbf;
}

#rangeValue::before {
  content: '$ ';
}

#rangeValue::after {
  content: '.000';
}

input[type="range"] {
  position: absolute;
  margin-top: 20px;
  margin-left: 220px;
  width: 300px;
}

label[for="file"] {
  width: 200px;
}

input[type="file"] {
  margin-top: 28px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-left: 20px;
  width: 450px;
  height: 40px;
  background-color: white;
}

[type="reset"],
[type="submit"] {
  display: inline;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}