.car-shop-body {
  background-image: url(/assets/images/background.jpg);
  background-repeat: no-repeat;
  background-position: top, center;
  background-size: 1180px;
  background-color: black;
  height: auto;
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

/* CSS for header */

.header {
  display: inline-flex;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  height: 100px;
  width: 1180px;
  box-shadow: -3px 1px 20px 0px rgba(83, 83, 83, 0.507);
}

.h1 {
  display: inline-flex;
  margin: auto;
  padding: 0;
  color: #bfbfbf;
  font-size: 50px;
}

.basket {
  width: 50px;
  padding-top: 25px;
  padding-right: 20px;
  float: right;
}

.logo {
  padding-right: 12.5px;
  padding-top: 12.5px;
  width: 75px;
}

.menu {
  margin-top: 0px;
  padding: 0;
  display: inline-flex;
  width: 260px;
  float: left;
  list-style-type: none;
  vertical-align: middle;
}

.menu-logo {
  width: 75px;
  margin-left: 10px;
  /* margin-bottom: ; */
}

/* CSS for main */

.main {
  padding-top: 580px;
}

.text {
  font-family: "Advent Pro", sans-serif;
  font-family: "Gabriela", serif;
  color: #bfbfbf;
}

.article {
  padding-top: 20px;
}

.photo {
  width: 400px;
  float: left;
  margin-right: 10px;
}

.link:link,
.link:visited {
  color: #bfbfbf;
  text-decoration: none;
  margin-top: 100px;
}

.logo-in-main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
}

table,
thead,
tbody {
  border: 5px solid #bfbfbf;
  border-collapse: separate;
  width: 1180px;
}

th,
td {
  border: 2px solid #bfbfbf;
  text-align: center;

}

/* CSS for footer */

.footer {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 50px;
  height: 150px;
  width: 1180px;
  box-shadow: -3px 1px 20px 0px rgba(83, 83, 83, 0.507);
  background-color: #000000b7;
}

.adress {
  margin: auto;
  font-family: "Advent Pro", sans-serif;
  font-family: "Gabriela", serif;
  font-size: 20px;
  color: #bfbfbf;
  width: 300px;
  height: 150px;
}

.contact {
  width: 300px;
  height: 150px;
}

.email:link,
.email:visited {
  color: #bfbfbf;
  text-decoration: none;
  margin: 20px;
}

.phone:link,
.phone:link:visited {
  color: #bfbfbf;
  text-decoration: none;
  margin: 20px;
}

.mail {
  padding-top: 35px;
}

.tel {
  padding-top: 35px;
}

.social-media {
  height: 150px;
  width: 400px;
}

.social-logo {
  float: right;
  padding-top: 55px;
  padding-right: 20px;
  width: 40px;
}
